/* Empty. Add your own CSS if you like */
.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
 }

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  fill: #999;
}


.hideEle {

  display: none;
}
.view-with-bg.view-content{
    background: url(../img/materialBackGround.png);
    background-size: cover;
}

.view-with-bg.pane {
    background: url(../img/materialBackGround.png) !important;
    background-size: cover !important;
}
