
<ion-view ng-controller="EstadisticasController">
  <ion-pane>
    <ion-header-bar class="bar-stable">
      <button class="button icon ion-navicon"></button>
      <h1 class="title">Estadisticas</h1>
      <div class="buttons">
        <button ng-click="showEditPlayerModal()" class="button button-icon icon ion-edit"></button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="row responsive-sm">
        <div class="col">
          <div class="card">
            <div class="item item-divider">
              Estad&iacute;sticas
            </div>
            <div class="item item-text-wrap">
              <ul class="list">
                <li class="item">
                  Partidas ganadas:{{ganada}}
                </li>
                <li class="item">
                  Partidas perdidas:{{perdida}}
                </li>
                <li class="item">
                  Mejor materia:{{habilidad}}
                </li>
                <li class="item">
                  Debilidad:{{debilidad}}
                </li>
                <li class="item">
                  Tiempo promedio:{{tiempo}}
                </li>
              </ul>

            </div>
            <div class="item item-divider">
            </div>
          </div>
        </div>
        <div class="col col-33 col-offset-33">
          <a ui-sref="ruleta">
            <button class="button button-balanced">¡Jugar!</button>
          </a>

        </div>
        <div class="col">
          <a ui-sref="ruleta">Hume</a><br>
          <a ui-sref="pregunta">Jose y Luismi</a><br>
          <a ui-sref="final">Voluntario</a><br>
        </div>
        <br/><br/>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>

    <script id="edit-player.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Jugador</h1>
          <div class="buttons">
          <button ng-hide="isAdd" ng-click="deletePlayer()" class="button button-icon icon ion-trash-a"></button>
          </div>
        </ion-header-bar>
        <ion-content>
          <div class="list list-inset">
            <label class="item item-input">
            <input type="text" placeholder="Name" ng-model="currentPlayer.nickname">
            </label>
            <label class="item item-input item-select">
              <div class="input-label">
                Ciencia
              </div>
              <select ng-model="currentPlayer.science">
                <option>Biología</option>
                <option selected>Física Matemática</option>
                <option>Química</option>
              </select>
            </label>
            <label class="item item-input item-select">
            <div class="input-label">
              Idioma
            </div>
            <select  ng-model="currentPlayer.languaje">
              <option>Inglés</option>
              <option selected>Francés</option>
            </select>
          </label>
          </div>
          <div class="padding">
            <button ng-click="savePlayer()" class="button button-block button-positive activated">Guardar</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
