
<ion-view ng-controller="EstadisticasController">
  <ion-pane>
    <ion-header-bar class="bar-stable">
      <button class="button icon ion-navicon"></button>
      <h1 class="title">Estadisticas</h1>
      <div class="buttons">
        <button ng-click="showEditPlayerModal(currentPlayer)" class="button button-icon icon ion-edit"></button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="list card">
        <div class="item item-avatar">
          <img src="../app/img/avatar.svg">
          <h2>{{currentPlayer.nickname}}</h2>
          <p>Ciencia: {{currentPlayer.science}}</p>
          <p>Idioma:  {{currentPlayer.language}}</p>
        </div>
      </div>
      <div class="item item-body">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <nvd3 options="chart1.options" data="chart1.data"></nvd3>
          </ion-slide>
          <ion-slide>
            <nvd3 options="chart2.options" data="chart2.data"></nvd3>
          </ion-slide>
        </ion-slide-box>
     </div>

      <div class="row">
        <div class="col col-33 col-offset-33">
          <button ng-click="play()" class="button icon-left ion-ios-game-controller-b button-positive">Jugar</button>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>

    <script id="edit-player.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Jugador</h1>
          <div class="buttons">
          <button ng-hide="isAdd" ng-click="deletePlayer()" class="button button-icon icon ion-trash-a"></button>
          </div>
        </ion-header-bar>
        <ion-content>
          <div class="list list-inset">
            <label class="item item-input">
            <input type="text" placeholder="Name" ng-model="currentPlayer.nickname" ng-disabled="!statusNickname">
            </label>
            <label class="item item-input item-select">
              <div class="input-label">
                Ciencia
              </div>
              <select ng-model="currentPlayer.science">
                <option>Biología</option>
                <option selected>Física Matemática</option>
                <option>Química</option>
              </select>
            </label>
            <label class="item item-input item-select">
            <div class="input-label">
              Idioma
            </div>
            <select  ng-model="currentPlayer.language">
              <option>Inglés</option>
              <option selected>Francés</option>
            </select>
          </label>
          </div>
          <div class="padding">
            <button ng-click="editPlayer()" class="button button-block button-positive activated">Guardar</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
