<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="../app/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../app/css/style.css" rel="stylesheet">
    <script src="../app/lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="../app/lib/pouchdb/dist/pouchdb.min.js"></script>
    <!-- your app's js -->
    <script src="../app/app.js"></script>
    <script src="../app/controllers/PreguntaController.js"></script>
  </head>
  <body ng-app="app">
    <ion-view>
          <ion-pane>
            <ion-header-bar class="bar-stable">
              <h1 class="title">Ionic Blank Starter</h1>
            </ion-header-bar>
            <ion-content ng-controller="AppPregunta">

             <div>
                <p ng-bind-html="enunciado"></p>
                <p>{{cuerpoPregunta}}</p>
            </div>
            <div>
            <button class="{{colorClass(0)}}" ng-click="checkAnswer(0)">
              {{RespuestaA.a}}
            </button>
            <button class="{{colorClass(1)}}" ng-click="checkAnswer(1)">
              {{RespuestaB.b}}
            </button>
            <button class="{{colorClass(2)}}" ng-click="checkAnswer(2)">
              {{RespuestaC.c}}
            </button>
            <button class="{{colorClass(3)}}" ng-click="checkAnswer(3)">
              {{RespuestaD.d}}
            </button>
          </div>
            </ion-content>
          </ion-pane>
        </ion-view>
  </body>
</html>
