<ion-view>
  <ion-pane>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Ionic Blank Starter</h1>
    </ion-header-bar>
    <ion-content ng-controller="AppPregunta">

      <div>
        <p>{{question.structure.header}}</p>
        <br>
        <p>{{question.structure.proporsals.header}}</p>
        <br>
        <ol>
          <li ng-repeat="p in question.proporsals.list ">{{p}}</li>
        </ol>
        <br>
        <p>{{question.structure.statement}}</p>
        <br>
        <p>{{question.structure.question}}</p>
        <br>
        <button
          ng-repeat="(key,value) in question.structure.answers"
          class="button button-full button-positive"
          ng-attr-id="{{key}}"
          ng-click="answerAction(key)">{{value}}</button>
      </div>

    </ion-content>
  </ion-pane>
</ion-view>
