<ion-view>
  <ion-pane>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Ionic Blank Starter</h1>
    </ion-header-bar>
    <ion-content ng-controller="AppPregunta">

      <div>
        <p ng-show="question.structure.header " class="ng-hide">{{question.structure.header}}</p>
        <br ng-show="question.structure.header" class="ng-hide">
        <p ng-show="question.structure.proporsals.header" class="ng-hide">{{question.structure.proporsals.header}}</p>
        <br ng-show="question.structure.proporsals.header" class="ng-hide">
        <ol ng-show="question.proporsals.list" class="ng-hide">
          <li ng-repeat="p in question.proporsals.list ">{{p}}</li>
        </ol>
        <br ng-show="question.proporsals.list" class="ng-hide">
        <p ng-show="question.structure.statement" class="ng-hide">{{question.structure.statement}}</p>
        <br ng-show="question.structure.statement" class="ng-hide">
        <p >{{question.structure.question}}</p>
        <br>
        <button
          ng-repeat="(key,value) in question.structure.answers"
          class={{colorClass(key)}}
          ng-attr-id="{{key}}"
          ng-click="answerAction(key)">{{value}}
        </button>
      </div>

    </ion-content>
  </ion-pane>
</ion-view>
