<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Seccion de Registro</title>

    <link href="../app/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../app/css/style.css" rel="stylesheet">
    <script src="../app/lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="../app/lib/pouchdb/dist/pouchdb.min.js"></script>
    <!-- your app's js -->
    <script src="../app/app.js"></script>
    <script src="../app/controllers/RegistroController.js"></script>
  </head>
  <body ng-app="app">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Registro</h1>
      </ion-header-bar>
      <ion-content  ng-controller="RegistroController">
        <h2> Bienvenido, por favor registrese para obtener una mejor experiencia de juego </h2>
        <br>
        <div class="entradanickname">
          <label class="item item-input">
            <input type="text" placeholder="NickName">
          </label>
        </div>

        <div class="idiomayciencia">
          <label class="item item-input item-select">
            <div class="input-label">
              Digite el idioma:
            </div>
            <select>
              <option selected="">Inglés</option>
              <option>Francés</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Digite la ciencia:
            </div>
            <select>
              <option selected="">Física Mate</option>
              <option>Química</option>
              <option>Biología</option>
            </select>
          </label>
        </div>
        <br>
        <div class="buttonsubmit">
          <button class="button button-positive">
            Enviar
          </button>
        </div>

      </ion-content>
    </ion-pane>

  </body>
</html>
