<!DOCTYPE html>
<html>

  <body ng-app="app">
	<img id="myImg" ng-src= "../app/img/josue.jpg" alt="Materia" width="500" height="500">
	<div id="myModal" class="modal">
		  <span class="close">×</span>
		  <img class="modal-content" id="img01">
		  <div id="caption"></div>
	</div>
    <ion-view>
    <ion-pane>
        <ion-header-bar class="bar-stable">
           <h1 class="title">Ionic Blank Starter</h1>
         </ion-header-bar>
         <ion-content  ng-controller="RuletaController">
           <h3>{{dueno}} </h3>
           <div id="workspace" class="center">
         </ion-content>
       </ion-pane>
     </ion-view>

  </body>
</html>