<ion-view>
  <ion-pane>
    <div class="bar bar-header bar-dark">
      <h1 class="title">Ronda 2 / 15 </h1>
    </div>
    <ion-content  ng-controller="RuletaController">
		<div class="roulettebg">
			<div id="workspace" class="center">
				<script id="modal" type="text/ng-template">
					<div class="modal image-modal transparent" ng-click="closeModal()">
						<ion-pane class="transparent">
							<img ng-src="{{imageSrc}}" class="fullscreen-image"/>
							<div id="materia"></div>
						</ion-pane>
					</div>
				</script>
			</div>
		</div>
      </ion-content>
    </ion-pane>
  </ion-view>
